/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Mono', sans-serif;

}

.home-body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header{
  width: 100%;
  height: 130px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 50px;
}

.social {
  background-color: rgb(52, 212, 185);
  width: 100%;
  height: 50px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.social-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
}

.nombre-header {
  color: white; 
  font-size: 20px; 
  margin: 0; 
}

.social-icons{
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

.social-icons a{
  color: white;
  font-size: 25px;
}


.social-icons a:hover{
  color: black;
}

.nav{
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-log{
  margin-left: 25px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-link a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

/*Main*/

.home-main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url('../img/blogp.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container{
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 50px;
}

.main-container__text{
  margin-left: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  color: black;
  font-family: cursive;
}

.main-container__link{
  background-color: black;
  margin-bottom: 80px;
  margin-left: 25px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
}

.main-container__link:hover{
  background-color: blue;
}

/*Pagina de blogs*/

.blogs-main{
  display: grid;
}

.news{
  background-color: rgb(215, 211, 211);
  padding: 10px 80px 40px;
}

.news-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.news-content img{
  grid-column: 1;
  width: 85%;
  display: inline-block;
  margin: 10px 0;
}

.news-info{
  grid-column: 2;

}

.news-info h2{
  margin-top: 20px;

}

.news-info p{
  margin: 30px 0;
}

.blogs-btn{
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  font-size: 14px;
}

/*Posts*/

.posts{
  padding: 0 80px 40px;
}

.posts h3{
  border-bottom: 1px solid rgb(215, 211, 211);
  padding: 20px 0;
  text-align: center;
}

.post-blogs{
  display: inline-block;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
}

.post-blogs img{
  width: 100%;
}

.post-blogs h4{
  margin: 20px 0;
}

.post-blogs p{
  margin-bottom: 35px;
}

/*Footer*/
footer{
  width: 100%;
  height: 80px;
  background-color: rgb(52, 212, 185);
  border-top: 35px solid rgb(215, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  color: black;
}